@charset "utf-8";

body {
    width:-webkit-calc(100% - 12px);
    width:-moz-calc(100% - 12px);
    width:calc(100% - 12px);
    height:-webkit-calc(100% - 12px);
    height:-moz-calc(100% - 12px);
    height:calc(100% - 12px);
    padding: 5px;
}

.root {
    width:420px;
    padding:0;
    margin: 40px auto;
}

.equal-width {
    width: 8rem;
}

#idPwd form p span:first-child {
    width: 120px;
}