.sum, .sum-en {
	background-color: #3396f6;<!-- 概况 -->
}
.deps, .deps-en {
	background-color: #77baff;<!-- 教学 -->
}
.serv, .serv-en {
	background-color: #b9dbff;<!-- 服务 -->
}
.visitruc-en {
	background-color: #948E73;
}
.links {
	background-color: #0378ea;<!-- 登录 -->
}

